05-Forkify-App/node_modules
05-Forkify-App/dist
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
dist

*.sublime*

psd
thumb
sketch
05-Forkify-App/.parcel-cache
05-Forkify-App/dist/index.e37f48ea.js.map
